<h2>Your Playlists</h2>

<div [hidden]="!toggleCreatePlaylist">
  <form
    #CreatePlaylistForm="ngForm"
    (ngSubmit)="CreatePlaylist(CreatePlaylistForm)"
  >
    <input
      id="CreatePlaylist"
      type="text"
      name="PlaylistTitle"
      placeholder="Playlist Title"
      ngModel
    />
    <!-- <input id="CreatePlaylistButton" type="submit" /> -->
    <button id="CreatePlaylistButton" (click)="GetUserPlaylists()">
      Create
    </button>
  </form>
</div>
<div class="playlistOptions" [hidden]="togglePlaylistOptions">
  <button [hidden]="toggleCreatePlaylist" (click)="ToggleCreatePlaylist()">
    New Playlist
  </button>
  <button [hidden]="toggleDeletePlaylist" (click)="ToggleDeletePlaylist()">
    Delete Playlist
  </button>
</div>
<button [hidden]="!toggleCreatePlaylist" (click)="ToggleCreatePlaylist()">
  Cancel
</button>
<button [hidden]="!toggleDeletePlaylist" (click)="ToggleDeletePlaylist()">
  Cancel
</button>

<div *ngFor="let p of userPlaylists">
  <a routerLink="/PlaylistDetails/{{ p.id }}">
    {{ p.listTitle }}
  </a>
  <button [hidden]="!toggleDeletePlaylist" (click)="DeletePlaylist(p.id)">
    Delete
  </button>
</div>
