<h2>Your Playlists</h2>

<!-- Create Playlist Form -->
<div [hidden]="!toggleCreatePlaylist">
  <form
    #CreatePlaylistForm="ngForm"
    (ngSubmit)="CreatePlaylist(CreatePlaylistForm)"
  >
    <input
      id="CreatePlaylist"
      type="text"
      name="PlaylistTitle"
      placeholder="Playlist Title"
      ngModel
    />
    <button id="CreatePlaylistButton" (keydown.enter)="GetUserPlaylists()">
      Create
    </button>
  </form>
</div>

<!-- Playlist Options -->
<div class="playlistOptions" [hidden]="togglePlaylistOptions">
  <button [hidden]="toggleCreatePlaylist" (click)="ToggleCreatePlaylist()">
    New Playlist
  </button>
  <button [hidden]="toggleDeletePlaylist" (click)="ToggleDeletePlaylist()">
    Delete Playlist
  </button>
</div>

<!-- Cancel Buttons For Playlist Options -->
<div [hidden]="!togglePlaylistOptions">
  <button [hidden]="!toggleCreatePlaylist" (click)="ToggleCreatePlaylist()">
    Cancel
  </button>
  <button [hidden]="!toggleDeletePlaylist" (click)="ToggleDeletePlaylist()">
    Cancel
  </button>
</div>

<!-- User Playlist Router Links -->
<div [hidden]="toggleDeletePlaylist" *ngFor="let p of userPlaylists">
  <a routerLink="/PlaylistDetails/{{ p.id }}">
    {{ p.listTitle }}
  </a>
</div>

<!-- Delete Playlist View -->
<div [hidden]="!toggleDeletePlaylist" *ngFor="let p of userPlaylists">
  <p>
    {{ p.listTitle }}
    <button (click)="DeletePlaylist(p.id)">Delete</button>
  </p>
</div>
