<h2>Your Playlists</h2>

<form
  #CreatePlaylistForm="ngForm"
  (ngSubmit)="CreatePlaylist(CreatePlaylistForm)"
>
  <input
    id="CreatePlaylist"
    type="text"
    name="PlaylistTitle"
    placeholder="Playlist Title"
    ngModel
  />
  <!-- <input id="CreatePlaylistButton" type="submit" /> -->
  <button id="CreatePlaylistButton" (click)="GetUserPlaylists()">
    Create Playlist
  </button>
</form>

<div *ngFor="let p of userPlaylists">
  <a routerLink="/PlaylistDetails/{{ p.id }}">
    {{ p.listTitle }}
  </a>
  <button (click)="DeletePlaylist(p.listTitle)">Delete</button>
</div>
