<div *ngIf="loggedIn">
  <h2>Song Lookup</h2>
  <!-- Song Search Form -->
  <div>
    <form #searchSongForm="ngForm" (ngSubmit)="searchForSong(searchSongForm)">
      <input
        id="searchSongFormText"
        type="text"
        name="searchedSong"
        placeholder="Look for a song"
        ngModel
      />
      <button
        id="searchSongButton"
        (keydown.enter)="searchForSong(searchSongForm)"
      >
        Search
      </button>
    </form>
    <button (click)="ClearSearch()">Clear</button>
  </div>

  <!-- List of Songs on form submission -->
  <div *ngFor="let s of songArray.search; index as i">
    <div>
      <p>{{ i }}: {{ s.title }}</p>
      <p>{{ s.artist.name }}</p>
    </div>
    <button routerLink="/SongDetails/{{ s.id }}">Details</button>
    <button (click)="ShowPlaylists(s.id)">Add to List</button>
  </div>

  <!-- User Playlist Modal -->
  <div [hidden]="!displayPlaylistForm">
    <div *ngFor="let p of userPlaylists">
      <div>
        {{ p.listTitle
        }}<button (click)="AddToPlaylist(p.listTitle)">Add to List</button>
      </div>
    </div>
  </div>
</div>
