<div *ngIf="loggedIn" class="container">
  <h2>Song Lookup</h2>
  <!-- Song Search Form -->
  <!-- User Playlist Modal -->
  <div [hidden]="!displayPlaylistForm">
    <div class="card" style="width: 20rem">
      <div class="card-body p-1">
        <div class="d-flex flex-row align-items-center justify-content-end">
          <button
            mat-mini-fab
            class="playlist-modal-exit-button"
            (click)="ToggleDisplayPlaylistForm()"
          >
            <mat-icon class="playlist-modal-exit-icon">clear</mat-icon>
          </button>
        </div>
      </div>
      <ul class="list-group list-group-flush">
        <div *ngFor="let p of userPlaylists">
          <div class="list-group-item p-1">
            <div
              class="d-flex flex-row align-items-center justify-content-between"
            >
              <div class="ps-2">{{ p.listTitle }}</div>
              <div>
                <button
                  mat-mini-fab
                  class="mat-icon-button"
                  (click)="AddToPlaylist(p.listTitle)"
                >
                  <mat-icon>add</mat-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
      </ul>
    </div>
  </div>
  <div>
    <form #searchSongForm="ngForm" (ngSubmit)="searchForSong(searchSongForm)">
      <input
        id="searchSongFormText"
        type="text"
        name="searchedSong"
        placeholder="Look for a song"
        ngModel
      />
      <button
        id="searchSongButton"
        (keydown.enter)="searchForSong(searchSongForm)"
      >
        Search
      </button>
    </form>
    <span><button (click)="ClearSearch()">Clear</button></span>
  </div>

  <!-- List of Songs on form submission -->
  <!-- <div *ngFor="let s of songArray.search; index as i">
    <div>
      <p>{{ i }}: {{ s.title }}</p>
      <p>{{ s.artist.name }}</p>
    </div>
    <button routerLink="/SongDetails/{{ s.id }}">Details</button>
    <button (click)="ShowPlaylists(s.id)">Add to List</button>
  </div> -->
  <!-- ---------------------------------------------------- -->
  <div class="row">
    <div class="col-5">
      <div *ngFor="let s of songArray.search; index as i">
        <div class="card">
          <div class="card-body p-2">
            <div class="row">
              <div class="col-6">
                <h5 class="card-title">{{ s.title }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">
                  {{ s.artist.name }}
                </h6>
              </div>
              <div class="col-6">
                <div class="d-flex justify-content-end">
                  <button (click)="GetSongDetails(s.id)">Details</button>
                  <button (click)="ShowPlaylists(s.id)">Add to List</button>
                </div>
              </div>
            </div>
          </div>
          <div
            *ngIf="songId != '' && s.id == song.song.id"
            [visible]="visible"
            cCollapse
          >
            <div class="card-footer">
              <p>{{ s.artist.name }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ----------------------------------------------------- -->
</div>
