<div *ngIf="loggedIn" class="container">
  <h2>Song Lookup</h2>
  <!-- Song Search Form -->
  <!-- User Playlist Modal -->
  <div [hidden]="!displayPlaylistForm">
    <div class="card" style="width: 20rem">
      <div class="card-body p-1">
        <div class="d-flex flex-row align-items-center justify-content-end">
          <button
            mat-mini-fab
            class="playlist-modal-exit-button"
            (click)="ToggleDisplayPlaylistForm()"
          >
            <mat-icon class="playlist-modal-exit-icon">clear</mat-icon>
          </button>
        </div>
      </div>
      <ul class="list-group list-group-flush">
        <div *ngFor="let p of userPlaylists">
          <div class="list-group-item p-1">
            <div
              class="d-flex flex-row align-items-center justify-content-between"
            >
              <div class="ps-2">{{ p.listTitle }}</div>
              <div>
                <button
                  mat-mini-fab
                  class="mat-icon-button"
                  (click)="AddToPlaylist(p.listTitle)"
                >
                  <mat-icon>add</mat-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
      </ul>
    </div>
  </div>
  <div class="d-flex flex-row mb-3">
    <div class="p-0">
      <form #searchSongForm="ngForm" (ngSubmit)="searchForSong(searchSongForm)">
        <input
          id="searchSongFormText"
          type="text"
          name="searchedSong"
          placeholder="Look for a song"
          ngModel
        />
        <button
          id="searchSongButton"
          (keydown.enter)="searchForSong(searchSongForm)"
        >
          Search
        </button>
      </form>
    </div>
    <div class="p-0">
      <button (click)="ClearSearch()">Clear</button>
    </div>
  </div>

  <!-- List of Songs on form submission -->
  <div class="row">
    <div class="col-lg-5 col-md-8 col-sm-10">
      <div *ngFor="let s of songArray.search; index as i">
        <div class="card">
          <div class="card-body p-2">
            <div class="row">
              <div class="col-6">
                <h5 class="card-title">{{ s.title }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">
                  {{ s.artist.name }}
                </h6>
              </div>
              <div class="col-6 align-self-center">
                <div class="d-flex justify-content-end">
                  <button mat-mini-fab (click)="GetSongDetails(s.id)">
                    <mat-icon>help_outline</mat-icon>
                  </button>
                  <button mat-mini-fab (click)="ShowPlaylists(s.id)">
                    <mat-icon>add</mat-icon>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div [visible]="visible && s.id == songId" cCollapse>
          <div class="card-footer offset-sm-6">
            <div *ngIf="songId != ''" class="d-flex justify-content-around">
              <span>Key: {{ song.song.key_of }}</span> ||
              <span>BPM: {{ song.song.tempo }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
