<div *ngIf="loggedIn">
  <button (click)="SaveTransposeChanges()">Save Transpose Changes</button>
  <div *ngFor="let song of listSongs">
    <p>
      {{ song.title }} || {{ song.artist }} ||
      <button (click)="TransposeDown(song.transposedKey, song.apiid)">
        Transpose Down
      </button>
      <span *ngIf="song.originalKey == song.transposedKey"
        >Key:{{ song.originalKey }}</span
      >
      <span *ngIf="song.originalKey != song.transposedKey"
        >Key:{{ song.transposedKey }}</span
      >
      <button (click)="TransposeUp(song.transposedKey, song.apiid)">
        Transpose Up</button
      >|| {{ song.tempo }} BPM
    </p>
    <button (click)="RemoveSongFromPlaylist(song.id)">Remove</button>
  </div>
</div>
