<div *ngIf="loggedIn">
  <h1>{{ listTitle }}</h1>

  <!-- Rename Playlist Form -->
  <div [hidden]="!toggleRenamePlaylist">
    <form
      #renamePlaylistForm="ngForm"
      (ngSubmit)="RenamePlaylist(renamePlaylistForm)"
    >
      <input
        id="RenamePlaylistText"
        type="text"
        name="newListTitle"
        placeholder="New Title"
        ngModel
      />
      <button (keydown.enter)="RenamePlaylist(renamePlaylistForm)">
        Rename
      </button>
    </form>
  </div>

  <!-- Cancel Buttons for Playlist Details Options -->
  <div>
    <button [hidden]="!toggleRenamePlaylist" (click)="ToggleRenamePlaylist()">
      Cancel Rename
    </button>
    <button [hidden]="!toggleRemoveSong" (click)="ToggleRemoveSong()">
      Done
    </button>
    <button [hidden]="!toggleReOrderList" (click)="ToggleReOrderList()">
      Done
    </button>
  </div>

  <!-- Playlist Options-->
  <div class="playlistDetailsOptions" [hidden]="hideOptions">
    <button (click)="ToggleRenamePlaylist()">Rename List</button>
    <button (click)="ToggleRemoveSong()">Remove Song</button>
    <button (click)="EnableTranspose()">Transpose</button>
    <button (click)="ToggleReOrderList()">Order List</button>
  </div>

  <!-- Transpose Options Menu -->
  <div [hidden]="!TransposeEnabled">
    <button (click)="SaveTransposeChanges()">Save Changes</button>
    <button (click)="DiscardChanges()">Discard Changes</button>
    <button (click)="RestoreOriginalKeys()">Revert All To Original</button>
  </div>
  <br />

  <!-- List Of Songs on Playlist -->
  <div *ngIf="!toggleReOrderList">
    <div *ngFor="let song of listSongs; index as i">
      <p>
        <button
          [hidden]="!toggleRemoveSong"
          (click)="RemoveSongFromPlaylist(song.id)"
        >
          Remove
        </button>
        {{ i + 1 }}: {{ song.title }} || {{ song.artist }} ||
        <button
          [hidden]="!TransposeEnabled"
          (click)="TransposeDown(song.transposedKey, song.apiid)"
        >
          Transpose Down
        </button>
        <span>Key:{{ song.transposedKey }}</span>
        <button
          [hidden]="!TransposeEnabled"
          (click)="TransposeUp(song.transposedKey, song.apiid)"
        >
          Transpose Up</button
        >|| {{ song.tempo }} BPM
      </p>
    </div>
  </div>

  <!-- WHEN REORDER LIST IS TOGGLED -->
  <div
    *ngIf="toggleReOrderList"
    cdkDropList
    class="example-list"
    (cdkDropListDropped)="drop($event)"
  >
    <div class="example-box" *ngFor="let song of listSongs; index as i" cdkDrag>
      <p>
        {{ i + 1 }}: {{ song.title }} || {{ song.artist }} ||
        <span>Key:{{ song.transposedKey }}</span>
        || {{ song.tempo }} BPM
      </p>
    </div>
  </div>
</div>
