<div *ngIf="loggedIn">
  <h1>{{ listTitle }}</h1>
  <div [hidden]="!toggleRenamePlaylist">
    <form
      #renamePlaylistForm="ngForm"
      (ngSubmit)="RenamePlaylist(renamePlaylistForm)"
    >
      <input
        id="RenamePlaylistText"
        type="text"
        name="newListTitle"
        placeholder="New Title"
        ngModel
      />
      <button (keydown.enter)="RenamePlaylist(renamePlaylistForm)">
        Rename
      </button>
    </form>
  </div>
  <button [hidden]="!toggleRenamePlaylist" (click)="ToggleRenamePlaylist()">
    Cancel
  </button>
  <button [hidden]="!toggleRemoveSong" (click)="ToggleRemoveSong()">
    Cancel
  </button>
  <div class="playlistDetailsOptions" [hidden]="hideOptions">
    <button (click)="ToggleRenamePlaylist()">Rename</button>
    <button (click)="ToggleRemoveSong()">Remove Song</button>
    <button (click)="EnableTranspose()">Transpose</button>
  </div>
  <div [hidden]="!TransposeEnabled">
    <button (click)="SaveTransposeChanges()">Save Changes</button>
    <button (click)="DiscardChanges()">Discard Changes</button>
    <button (click)="RestoreOriginalKeys()">Revert All To Original</button>
  </div>
  <br />
  <div *ngFor="let song of listSongs; index as i">
    <p>
      {{ i + 1 }}: {{ song.title }} || {{ song.artist }} ||
      <button
        [hidden]="!TransposeEnabled"
        (click)="TransposeDown(song.transposedKey, song.apiid)"
      >
        Transpose Down
      </button>
      <span>Key:{{ song.transposedKey }}</span>
      <button
        [hidden]="!TransposeEnabled"
        (click)="TransposeUp(song.transposedKey, song.apiid)"
      >
        Transpose Up</button
      >|| {{ song.tempo }} BPM
      <button
        [hidden]="!toggleRemoveSong"
        (click)="RemoveSongFromPlaylist(song.id)"
      >
        Remove
      </button>
    </p>
  </div>
</div>
